.grid{
    width: 100%;
    border: 1px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-row-gap:10px;
    grid-column-gap: 10px;
}

.box1{
    background-color: bisque;
}
.box2{
    background-color: brown;
}
.box3{
    background-color: darkslategray;
}
.box4{
    background-color: hotpink;
}
.box5{
    background-color: thistle;
}
.box6{
    background-color: teal;
}