body{
    background-color:goldenrod;
}
h1{
    text-align: center;
    

}
img{
    width: 200px;
    height: 200px;
    object-fit:cover;
    position: relative;
   
}
.image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    justify-content:space-around;
    gap:10px;
    position: absolute;

  
}
.thomas h2{
    font-size: 20px;
    text-align: center;   
}
.patrick h4{
   font-size: 20px;
   text-align: center;
}
.walter h3{
    font-size: 20px;
    text-align: center;
}
.thomas p{
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.patrick p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.walter p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

