
body{
    background-color: rgb(109, 151, 115);
    margin: 0px;

}
img{
    float: left;
    width: 50%;
    height: 800px;
}
h1{
    color: white;
    padding:100px;
    margin: 0px;
    position: relative;
    left: 80px;
    font-size: 50px;
    
}
h2{
    color: white;
    position:relative;
    left: 80px;
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
