
body{
    background-color: rgb(109, 151, 115);
    margin: 0px;

}
h1{
    color: white;
    padding:30px;
    margin:0px;
    font-size: 70px;
    
}
p1{
    color: white;
    position:relative;
    bottom: 200px;
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    float: right;  
    padding: 30px;
    margin: 0px;
}
img{
    height: 350px;
    width: 70%;
    position: relative;
    left: 180px;
}
