h1{
    font-size:60px;
    background-color:maroon 
}
ol{
    background-color: bisque;
}
ul{
    background-color: bisque;
}
button{
    background-color: burlywood;
}
table{
    background-color: grey;
}